.navbar-light .navbar-brand {
    color: rgba(255, 255, 255, 0.952);
  }

.navbar-brand {
    font: 1.2em "Fira Sans", sans-serif, white;
    font-size: 25px;
    font-weight: bolder;
    background-color: rgb(20, 150, 150);
    padding: 10px;
    margin-left: 5%;
  }

  .navbar-collapse {
    position: absolute;
    right: 15%;
    font-size: medium;
  }

  .nav-item {
    font-weight: bold;
  }

  .main-image {
      max-width: 100%
  }

  .image{
    flex-basis: 40%
  }
  .text-left {
    text-align: left;
    color: rgb(20, 150, 150);
    font-family: 1.2em "Fira Sans", sans-serif;
    font-weight: bolder;
    padding-left: 20px;
  }

  .thumbnail {
    width:50%;
    padding: 5px;
  }
  
  .rounded float right thumbnail{
    max-width: 50%;
    height: auto;
    padding-left: 5px;
  }

  .rounded float-left  thumbnail{
    max-width: 50%;
    height: auto;
    padding-left: 10px;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
  }

  p {
    font-size:large; 
    font-family: 1.2em Fira Sans, 
    sans-serif; color: rgb(153, 160, 160);
    font-weight: bolder;
    padding-left: 20px;
  }

  body {
    padding-left: 20px;
    padding-top: 10px;
    padding-right: 20px;
    padding-bottom: 10px;
    background-color: rgb(218, 226, 223)
  }

  .table-responsive {
    padding-left: 30px; 
    padding-right: 30px;
  }

  .float-left {
    max-width: 100%;
    padding: 20px
  }

  .float-right {
    max-width: 100%;
    padding: 20px;
  }