.navbar-light .navbar-brand {
    color: rgba(255, 255, 255, 0.952);
  }

.navbar-brand {
    font: 1.2em "Fira Sans", sans-serif, white;
    font-size: 25px;
    font-weight: bolder;
    background-color: rgb(20, 150, 150);
    padding: 10px;
    margin-left: 5%;
  }

  .navbar-collapse {
    position: absolute;
    right: 15%;
    font-size: medium;
  }

  .nav-item {
    font-weight: bold;
  }
  .text-left {
    text-align: left;
    color: rgb(20, 150, 150);
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
  }